.admin-container
  padding: 1em
  //display: flex
  //justify-self: center
  //align-items: center
  //flex-direction: column
  .sheet-container
    display: flex
    flex-direction: column
    justify-self: center
    align-items: center
    gap: 1em

    button
      border-radius: 10px
      border: none
      padding: 0.5em 1em
      background: linear-gradient(45deg, #3ea86d, #1be874)
      color: white
      margin-bottom: 2em
