#games-date 
  display: flex
  gap: 20px
  justify-content: space-between
  align-items: center
  margin-top: 10px
  padding: 20px

  .selection 
    border-radius: 5px
    padding: 1em
    text-align: center
    width: 164px
    border: none
    font-weight: 600
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px

    & option 
      text-align: center

  .container 
    padding: 20px


    .save-clear-section 
      margin-top: 10px
      display: flex
      justify-content: space-between

      .save-clear-button 
        border: none
        padding: 0.8em
        width: 5em
        border-radius: 5px

    

      #save 
        background-color: #3CB371
        color: white

        &:active 
          background-color: #31915c

      
    

      #clear 
        background-color: #d5d5d5
        color: white
    
.entry-form-container
  h1
    text-align: center
    margin: 1em 1em 1.5em 1em
    font-size: 1.75em
    color: #888888