.select-section
  display: flex
  flex-direction: column
  gap: 2em

  .field-select
    display: flex
    flex-direction: column
    gap: 1em
    color: #343434

  #fields
    display: flex
    align-items: center
    justify-content: space-between

