#outline-shirt
  .cls-1 
   stroke-width: 0


  .cls-2 
   stroke-width: 3px


  .cls-2, .cls-3, .cls-4 
   stroke: #000
   stroke-miterlimit: 10


  .cls-3 
   fill: #fff


  .cls-4 
   stroke-width: 7px

